<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="toggleMenu()">
        ☰
    </button>
    <div class="collapse navbar-toggleable-xs" id="navbar-header" [class.in]="menuVisible">
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--<form class="form-inline pull-xs-right">-->
            <!--<input class="form-control" type="text" placeholder="Search">-->
            <!--<button class="btn btn-outline-success" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>
