<div class="row">
    <div class="col s12">
        <h4>Add book</h4>
    </div>
</div>
<form #addForm="ngForm" (ngSubmit)="save()">
    <div class="row">
        <div class="col s12">
            <input-field title="Title" [(ngModel)]="book.title" name="title" #title="ngModel" required [valid]="title.valid"></input-field>
            <input-field title="ISBN" [(ngModel)]="book.isbn" name="isbn"></input-field>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <button class="btn waves-effect waves-light" (click)="save()" type="submit" [disabled]="!addForm.form.valid">Save
            </button>
            <button class="btn waves-effect waves-light" (click)="cancel()">Cancel
            </button>

        </div>
    </div>
</form>
