
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" *ngIf="books" style="margin:5%; width: 90%">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric"><h4>Book Title</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td class="mdl-data-table__cell--non-numeric">{{ book.title }}</td>
        </tr>
    </tbody>
</table>
<div style="margin-left: 5%;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        Send a notification
    </button>
</div>

